<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" id="contenido">
        <!-- User profile -->
        @*<div class="user-profile" style="background: url(~/Content/assets/images/background/user-info.jpg) no-repeat;">

        </div>*@
        <!-- End User profile text-->
        <!-- Sidebar navigation-->

        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li><a asp-area="" asp-controller="Permisos" asp-action="Index">Permisos</a></li>
                <li><a asp-area="" asp-controller="Personas" asp-action="Index">Personas</a></li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
    <!-- Bottom points-->



    <!-- End Bottom points-->
</aside>