@*@model Acceso.AcceResultado*@
@using AngularProyecto.ModelsMetodos
@{
    var user =MConexion.GetListaLogeo();
    ViewBag.Usuario = user.PNombre + " " + user.PApellido;
 }
<nav class="navbar navbar-dark bg-primary  navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index2" class="navbar-brand" style="color:white;">AngularProyecto</a>
        </div>
        <div class="navbar-collapse" id="listaheader">
            @*<ul id="usuario">
                <li><a >Usuario: @ViewBag.Usuario</a></li>
            </ul>*@
            <a>Usuario: @ViewBag.Usuario</a>
            @*</br>
            <a>Cerrar Seccion</a>*@
        </div>

        @*<div class="navbar-collapse collapse" id="listaheader">
            <ul class="nav navbar-nav" >
                <li><a asp-area="" asp-controller="Permisos" asp-action="Index">Permisos</a></li>
                <li><a asp-area="" asp-controller="Personas" asp-action="Index">Personas</a></li>
            </ul>
        </div>*@
        @*parte del usuario*@
    </div>
</nav>